[submodule "dhscanner.core"]
	path = dhscanner.core
	url = https://github.com/OrenGitHub/dhscanner.core.git
[submodule "dhscanner.kbapi"]
	path = dhscanner.kbapi
	url = git@github.com:OrenGitHub/dhscanner.kbapi.git
